*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(216, 255, 216)
}

.mainBox > div{
    border: 2px solid black;
    width:170px;
    height:170px;
    margin: 3px;
    background-color: rgb(195, 230, 230);
}

.mainBox{
    display: flex;
}

@media only screen and (max-width:455px){
    body{
        background-color: aqua;
    }

    .mainBox{
        display: inline-block;
    }

} 